.root{
    -fx-background-color: #212121;
}

.check-box .box {
    -fx-background-color: #ffffff;
}

.check-box:selected .box {
    -fx-background-color: #d67e78;
}

.check-box:selected .mark {
    -fx-background-color: #ffffff;
}

.button{
    -fx-background-color: #4682b4;
}

.button:hover{
    -fx-cursor: hand;
}

.button:pressed{
    -fx-background-color: #d67e78;
}
