@font-face {
    font-family: 'LXGW WenKai Mono TC';
    src: url("file:C:/Users/Addmin/Desktop/JavaProject/resource/LXGWWenKaiMonoTC-Regular.ttf");
}

@font-face {
    font-family: 'Cactus Classical Serif';
    src: url("file:C:/Users/Addmin/Desktop/JavaProject/resource/CactusClassicalSerif-Regular.ttf");
}

.root{
    -fx-background-color: #212121;
}

#movieName{
    -fx-font-size: 40;
}

#hyperlink{
    -fx-font-family: 'Cactus Classical Serif';
    -fx-font-size: 30;
}

.label{
    -fx-font-family: 'LXGW WenKai Mono TC';
    -fx-font-size: 30;
}

.button{
    -fx-background-color: #4682b4;
    -fx-font-size: 23;
}

.button:hover{
    -fx-cursor: hand;
}

.button:pressed{
    -fx-background-color: #d67e78;
}
