@font-face {
    font-family: 'LXGW WenKai Mono TC';
    src: url("file:C:/Users/Addmin/Desktop/JavaProject/resource/LXGWWenKaiMonoTC-Regular.ttf");
}

.root{
    -fx-background-color: #212121;
}

/*text包含了所有文字，因此Label, textfield, passwordfield等都不用再設定*/
.text{
    -fx-font-family: 'LXGW WenKai Mono TC';
}

.label{
    -fx-font-size: 24;
}

#loginMessageLabel{
    -fx-font-size: 18;
}

.text-field{
    -fx-font-size: 20;
}

.password-Field{
    -fx-font-size: 20;
}

.button{
    -fx-background-color: #4682b4;
    -fx-font-size: 23;
}

.button:hover{
    -fx-cursor: hand;
}

.button:pressed{
    -fx-background-color: #d67e78;
}
